header{
    height: 64px;
    max-width: 100%;
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
}

.header-left{
    display: inline-flex;
    align-items: center;
    padding: 0px 0px 0px 24px;
}
