/*Header Section*/

a{
    text-decoration: none;
    color:black;
}
header{
    height: 64px;
    max-width: 100%;
    background-color:white;
    display: flex;
    justify-content: space-between;
}

.header-left{
    display: inline-flex;
    align-items: center;
    padding: 0px 0px 0px 24px;
}

.header-right{
    display: inline-flex;
    align-items: center;
    padding: 0px 24px 0px 0px;
}

header ul{
    list-style: none;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.menu-option{
    padding: 0px 0px 0px 16px;
    color:black;
    
}

.logo-colmar, .logo-academy{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
}

.logo-colmar{
    font-weight: bold;
    color: black;
}

.logo-academy{
    font-weight: lighter;
    color: rgb(168, 160, 160);
}

/*banner section*/

main{
  padding-top: 64px;
  width: 100%;
}

.banner-top{
  background-color:lightgrey;
  padding: 24px;
  display: flex;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.left-image{
  padding: 32px 24px 32px 24px;
  width: auto;

}

.right-text{
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  color: rgb(70,68,68);
  font-weight: bold;
}

.right-text button {
  background-color: rgb(70, 68, 68);
  color: white;
  box-sizing: content-box;
  width: 90%;
  height: 10%;
  top: 8px;
  bottom: 8px;

}









