/*Header Section*/

a{
    text-decoration: none;
    color:black;
}
header{
    height: 64px;
    max-width: 100%;
    background-color:white;
    display: flex;
    justify-content: space-between;
}

.header-left{
    display: inline-flex;
    align-items: center;
    padding: 0px 0px 0px 24px;
}

.header-right{
    display: inline-flex;
    align-items: center;
    padding: 0px 24px 0px 0px;
}

header ul{
    list-style: none;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.menu-option{
    padding: 0px 0px 0px 16px;
    color:black;
    
}

.logo-colmar, .logo-academy{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
}

.logo-colmar{
    font-weight: bold;
    color: black;
}

.logo-academy{
    font-weight: lighter;
    color: rgb(168, 160, 160);
}

/*banner section*/

main{
  padding-top: 64px;
  width: 100%;
}

.banner-top{
  background-color:lightgrey;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bolder;
  padding: 0 1.5rem;
 
}

.left-image{
  max-width: 60%;
  padding: 2rem 1.5rem 2rem 0;
}

.left-image img{
  width:100%;
  margin: auto;
}

.right-text{
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  color: rgb(70,68,68);
  padding: 2rem 0;
  width: 40%;

}

.right-text button {
  background-color: rgb(70, 68, 68);
  color: white;
  box-sizing: content-box;
  width: 90%;
  height: 10%;
  top: 8px;
  bottom: 8px;

}

/*second banner*/

.multi-container{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;

}

.main-pic-box{
  width: 60%;
  padding: 2rem 1.5rem;
}

.main-pic-box img{
  width: 97%;
  margin-bottom: 2rem;
}

.main-pic-box h2, p, h5{
  padding:24px, 32px,24px,32px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(70,68,68);
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.1;
}

/*small pictures*/

.stacked-boxes{
  display: flex;
  flex-flow: column;
  vertical-align: top;
  margin-top: 1rem;
  width: 35%;
}

.content-box img{
  width: 35%;
  margin:3.5%;
  vertical-align: middle;
  display: inline-block;
}

.content-box .side-text{
  width: 56%;
  display: inline-block;
  font--family:Arial, Helvetica, sans-serif;
  
}

.content-box a{
  color: #3519d5;
  padding: 0;
}

.content-box-3{
  width: 56%;
  display: inline-block;
  font-family:Arial, Helvetica, sans-serif;
}

.content-box-3 .side-text-3{
  width: 56%;
  display: inline-block;
  font-family:Arial, Helvetica, sans-serif;
}

.content-box-3 img{
  width:56%;
  margin:3.5%;
  vertical-align: middle;
  display: inline-block;
}

/* Course Sections*/

.courses {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(70,68,68);
  background-color: lightgrey;
}

.course-container {
  width:90%;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgrey;
  justify-content:center;
  margin-bottom: 2rem;
}

.course-box {
  width: 30%;
  height: auto;
  margin:0 0.5rem 1rem 0.5rem;
  background-color: white;
}

.course-box img{
  width: 100%;
}

.course-text {
  padding: 1rem 0 0 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1.5rem, auto;
}

.courses h2, .thesis h2 {
  text-align: center;
}





